@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');



body {
    position: absolute;
    background: #eeeeee;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    padding: 10px; 
}

h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.5;
}

#js-newGameButton {
    border: none;
    border: 2px solid #333;
    transition: .7s;
}

#js-newGameButton:hover {
    background: #333;
    color: white;
} 

#js-playerPickElement .btn {
    outline: none;
    border: none;
}

.rock-scissors i {
    font-size: 10vh;
    padding: 0 20px 30px 20px
}

#js-playerPick_rock, #js-playerPick_paper, #js-playerPick_scissors {
    transition: .6s;
}

#js-playerPick_rock:hover, #js-playerPick_paper:hover, #js-playerPick_scissors:hover {
    color: white;
    background: #333;
}

#js-playerPick_paper .badge {
    background: #5bc0de;
}

#js-playerPick_scissors .badge {
    background: #d9534f;
}

#js-playerName, .computerName {
    font-weight: 700;
}

#js-playerPoints, #js-computerPoints {
    background: green;
    font-size: 20px;
    padding: 5px;
}

#js-playerResult, #js-computerResult {
    color: green;
    font-weight: 700;
}